<!DOCTYPE html>
<html lang="en-US">
   <head>
      <title>Dispose-All</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="style.css">
      <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
      <script src="script.js"></script>
   </head>
   <body >
      <div id="app">
         <!-- main page  -->
         <div v-if="curPage=='main'" id="main">
            <div id="header">
               <img id="logo" src="images/Block-M.jpeg">
               <h1 id="headerText">Disp<img id="recycling" src="images/pw-recycling.png">se-All</h1>
            </div>
            <div>
               <h2 id="mainText">University of Michigan's favorite way to reduce, reuse, and recycle!</h2>
            </div>
            <div id="menuBtns">
               <div class="btn-group-vertical btn-group-lg">
                  <button type="button" class="btn btn-success">View Nearby Disposal Locations</button>
                  <br>
                  <br>
                  <button type="button" class="btn btn-success">Submit New Disposal Locations</button>
                  <br>
                  <br>
                  <button type="button" class="btn btn-success">Recycling Tutorial</button>
                  <br>
                  <br>
                  <button type="button" class="btn btn-success">Need Help?</button>
               </div>
            </div>
         </div>

         <div v-if="curPage=='locate'" id="locate">
            <div class="row">
               <div class="col-lg-4">
                  <button type="button" class="btn btn-success" v-on:click="curPage='home'">Home</button>
               </div>
               <div class="col-lg-4 text-center">
                  <br><br>
                  <h1 style="color:#009900;">Disposal Locations</h1>
                  <br>
                  <h4 style="color:#009900;">Select waste types and input distance: </h4>
                  
               </div>
               <div class="col-lg-4">
               </div>
               
            </div>
            <div class="text-center">
               
               <button v-if="locateOptions.has('landfill')"type="button" class="btn btn-success" v-on:click="removeLocateOption('landfill')">Landfill</button>
               <button v-else type="button" class="btn btn-outline-success" v-on:click="addLocateOption('landfill')">Landfill</button>
               <button v-if="locateOptions.has('recycle')"type="button" class="btn btn-success" v-on:click="removeLocateOption('recycle')">Recycle</button>
               <button v-else type="button" class="btn btn-outline-success" v-on:click="addLocateOption('recycle')">Recycle</button>
               <button v-if="locateOptions.has('bottle')"type="button" class="btn btn-success" v-on:click="removeLocateOption('bottle')">Bottle</button>
               <button v-else type="button" class="btn btn-outline-success"  v-on:click="addLocateOption('bottle')">Bottle</button>
               <button v-if="locateOptions.has('can')"type="button" class="btn btn-success" v-on:click="removeLocateOption('can')">Can</button>
               <button v-else type="button" class="btn btn-outline-success" v-on:click="addLocateOption('can')">Can</button>
               <button v-if="locateOptions.has('chemical')"type="button" class="btn btn-success" v-on:click="removeLocateOption('chemical')">Chemical</button>
               <button v-else type="button" class="btn btn-outline-success" v-on:click="addLocateOption('chemical')">Chemical</button>
               <button v-if="locateOptions.has('electronic')"type="button" class="btn btn-success" v-on:click="removeLocateOption('electronic')">Electronic</button>
               <button v-else type="button" class="btn btn-outline-success" v-on:click="addLocateOption('electronic')">Electronic</button>
               <input type="text" id="textInput" placeholder="miles" v-on:keyup="handleDistanceInput"/>
               <button type="button" class="btn btn-success" v-on:click="handleLocate">Find Disposal Locations</button>
               <br><br>
            </div>
			<div id="map"></div>
			<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcbfy33oV2AXrETnmD74T819p9Ao7wkD0&callback=initMap&v=weekly" async></script>
         </div>
      </div>
      
   </body>
</html>
